// Navigation code here

.heading {
    display: flex;
    justify-content: center;
    font-size: 376%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navBar {
    display:flex;
    justify-content: center;
    font-size: 150%;
    padding-bottom: 15px;
    a {
        text-decoration: none;
        color: black;
        margin-right: 40px;
        
        }
        a:hover {
            border: 1px solid black;
            .color(white, blue);
            font-size: 1.25em;
            padding:5px;
            margin-bottom: 10px;
    }
@media @mobile {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    a{
        margin-right: 25px;
    }
  }
}





